body {
    padding: 0;
    margin: 0;
    display: block;
    background-color: rgb(58, 58, 58);
    color: white;
}

#navBrand{
    padding: 0px;
}

.albumImg{
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}


#products{
    margin-top: 50px;
    justify-content: center;
}

.fullWidth{
    width: 100%;
}
.border p{
    margin-bottom: 0px;
    padding-bottom: 5px;
}

.border p:nth-child(odd){
    background-color: rgba(255,255,255,0.2);
}
.cdImage{
    width: 75%;
}

.colCDImg{
height: 50vh;
}

.title {
    border-bottom: 3px solid white;
}
.infoText p span{
    font-weight: 700;
}

.additional-info p span{
    font-weight: 700;
}


.printSection {
    display: none;
}

.border {
    border: none !important;
}